header{
    max-width: 1064px;
    margin: 0 auto;
    background-image: url(grant.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

main{
    max-width: 1064px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #151738;
}

.title{
    color: #151738;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.subtitle{
    color: #151738;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

h1{
    color: #151738;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    padding-left: 10px;
}

h2{
    color: #B80F2E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

ul{
    color: #151738;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#stem{
    color: #151738;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

#buttons{
    display: flex;
    justify-content: space-around;
}

.feedback{
    color: white;
    background-color: #B80F2E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

button{
    background-color: #151738;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 250px;
}

button:hover{
    background-color: #B80F2E;
}

button:focus{
    outline: none;
}

footer{
    background-color: #151738;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    max-width: 1064px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}