body{
    background-color: #011826;
}
header{
    max-width: 1064px;
    margin: 0 auto;
    background-image: url(images/moon.jpg);
    height: 200px;
}

main{
    max-width: 1064px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #F2DA5E;
}

.title{
    color: #fff;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 6px #000000;
}

.subtitle{
    color: #fff;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 6px #2C252B;
}

h1{
    color: #F2A29B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

h2{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h3{
    color: #F2DA5E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

ul{
    color: #F2A29B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

button{
    background-color: #2C3359;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 180px;
}

button:hover{
    background-color: #F2DA5E;
}

button:focus{
    outline: none;
}

p{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
}

h4{
    color: #F2DA5E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

footer{
    background-color: #2C3359;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    max-width: 1064px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}